@attribute [GenerateAngular]

<p>
    <strong>@($"{Index + 1}: ")</strong>
    @if (_editing)
    {
        <input type="text" placeholder="@($"Write todo item {Index + 1}")" @bind-value="_content" />
    }
    else
    {
        <span>@(string.IsNullOrEmpty(_content) ? "<no content>" : _content)</span>
    }
</p>

<button @onclick="OnEditClick">@(_editing ? "Confirm" : "Edit")</button>
<button @onclick="OnRemoveClick">Remove</button>
<hr>

@code {
    private bool _editing = true;
    private string _content = string.Empty;

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public EventCallback<int> OnRemove { get; set; }

    private void OnEditClick()
    {
        _editing = !_editing;
    }

    private Task OnRemoveClick()
    {
        return OnRemove.InvokeAsync(Index);
    }
}
